body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #1e40af;
}

.hidden {
    display: none;
}

.error {
    color: #f87171;
}